<h1>Review of <%= @product.name %></h1>
<h2></h2>
<h2>Rating: <%= @review.rating %></h2>
<hr>
<p>Created at <%= @review.created_at %> &emsp; | &emsp; Reviewed by <%= @review.author %></p>
<hr>
<p><%= @review.content_body %></p>

<p><%= link_to "Return to product", product_path(@product) %></p>
